# Python
__pycache__/
*.py[cod]

# Ambientes virtuais
.venv/
venv/
env/

# Banco de dados SQLite
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.*

# Configurações locais do VS Code
.vscode/